.top-menu:not(.top-link-menu) > li > a:hover {
  color: #fcb941;
}
a {
  cursor: pointer;
}
a.active {
  color: rgb(252, 185, 65) !important;
}
.modal-backdrop {
  z-index: 1000;
}
.owl-nav > button > span {
  font-size: 48px;
  color: rgb(252, 185, 65) !important;
}
.react-date-picker .react-date-picker__wrapper {
  border: none;
}
.react-date-picker__wrapper .input-group.input-spinner {
  display: none;
}
.react-date-picker__clear-button {
  pointer-events: none;
  visibility: hidden;
}
/* ---------------------------------------------Calender-------------------------------------- */
.form-control.customize .ant-select-selector {
  border: none;
  background: none;
}
.form-control.customize .ant-select-selector:focus {
  box-shadow: none;
}
.form-control.customize .ant-select-selector .ant-select-selection-item {
  display: flex;
  align-items: center;
}
